/**/
#wrapper {
    margin-left:10%; 
    margin-right:10%; 
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border:solid 2px;
}
.encabezado {
    width: 20%;
    float: right;
}
.titles {
    background: #398df5;
    color: white;
}

div {
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.ageDependents {
    width:40px;
    border: 1px solid;
    text-align: center;
    border-radius:5px;
}

.personaInformation {
    float: right;
}

.date {
    border: solid 2px;
    float: right;
    width: 30%;
}

.border-button {
    border: none;
    border-bottom: 1px solid;
}

.familyExpense {
    margin-left: 20%;
    float:left;
    width:35%;
}

.familyExpense ul li {
    padding-right: 10px;
    margin-bottom: 3px;
}  
.spending {
    width: 35%;
    float: right;
}
.spending ul li {
    list-style-type: none;
    margin-bottom: 3px;
}

.new{
    padding-top:450px;
}

.tam{
    width: 70%;
    margin-left: 5%;    
}

.priority {
    margin-left: 20px;
    width: 40px;
    border: 1px solid;
    text-align:center; 
    border-radius:5px;
}

.SavePFP{
    margin-left: 38%;
}

.checkbox{
    width: 40px;
}
.checkbox input{
    width: 30px;
}


.datosA{
    width:100px;
}
.actividad{
    width:200px;
}
.dataName{
    width: 500px;
}

.borde {
    border: 1px solid;
    border-radius: 20px;
}
.img{
    width:40px;
    height:40px;
}

.gastos {
    display: block;
}

ul li input {
    border: 1px solid;
    margin-bottom:2px;
    width:110px;
}
.line li{
    display: inline;
}
.line li input{
    width:20px;
}

.datos_asesor{
    border: solid 2px;
    float: right;
    width: 40%;
}

.tnks{
    float:right;
    color:red;
}
.button{
    margin-left:400px;
}

.border_b{
    border-bottom:solid;
}

.ErrorMessage {
    border-radius: 10px;    
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    display:none;
}
.numbers{
    width:40px;
}

.input-error {
    box-shadow: 0 0 10px #FF3300;
    border-radius:5px;
}
.form {
    padding:20px;
}
.classExpense {
    width:75%;
    margin-left:10%;
}

#idAddNew, .SavePFP {
    text-decoration: none;
    padding: 2px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
#idAddNew:hover, .SavePFP:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

.classRefered {
    padding:5px;
}

.importDataTable tr th {
    width:12%;
    border:2px solid;
}

